CODIGO/Fase2/App_WebReferences/servicio_conectar/ServicioWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ServicioWeb/" targetNamespace="http://ServicioWeb/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregar_agencias" type="tns:agregar_agencias" />
  <xs:element name="agregar_agenciasResponse" type="tns:agregar_agenciasResponse" />
  <xs:element name="agregar_trabajador" type="tns:agregar_trabajador" />
  <xs:element name="agregar_trabajadorResponse" type="tns:agregar_trabajadorResponse" />
  <xs:element name="cambiar_trabajo" type="tns:cambiar_trabajo" />
  <xs:element name="cambiar_trabajoResponse" type="tns:cambiar_trabajoResponse" />
  <xs:element name="depositar" type="tns:depositar" />
  <xs:element name="depositarResponse" type="tns:depositarResponse" />
  <xs:element name="estado_cuenta" type="tns:estado_cuenta" />
  <xs:element name="estado_cuentaResponse" type="tns:estado_cuentaResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="ingresar_clientes" type="tns:ingresar_clientes" />
  <xs:element name="ingresar_clientesResponse" type="tns:ingresar_clientesResponse" />
  <xs:element name="insertar_cuenta" type="tns:insertar_cuenta" />
  <xs:element name="insertar_cuentaResponse" type="tns:insertar_cuentaResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="login_trabajador" type="tns:login_trabajador" />
  <xs:element name="login_trabajadorResponse" type="tns:login_trabajadorResponse" />
  <xs:element name="modalidad_pago" type="tns:modalidad_pago" />
  <xs:element name="modalidad_pagoResponse" type="tns:modalidad_pagoResponse" />
  <xs:element name="mostrar_agencias" type="tns:mostrar_agencias" />
  <xs:element name="mostrar_agenciasResponse" type="tns:mostrar_agenciasResponse" />
  <xs:element name="mostrar_cuentas" type="tns:mostrar_cuentas" />
  <xs:element name="mostrar_cuentasResponse" type="tns:mostrar_cuentasResponse" />
  <xs:element name="mostrar_tipo_trabajador" type="tns:mostrar_tipo_trabajador" />
  <xs:element name="mostrar_tipo_trabajadorResponse" type="tns:mostrar_tipo_trabajadorResponse" />
  <xs:element name="quitar_gerente_agencia" type="tns:quitar_gerente_agencia" />
  <xs:element name="quitar_gerente_agenciaResponse" type="tns:quitar_gerente_agenciaResponse" />
  <xs:element name="retiro_monetario" type="tns:retiro_monetario" />
  <xs:element name="retiro_monetarioResponse" type="tns:retiro_monetarioResponse" />
  <xs:element name="retornal_saldo" type="tns:retornal_saldo" />
  <xs:element name="retornal_saldoResponse" type="tns:retornal_saldoResponse" />
  <xs:element name="retornar_id_trabajador" type="tns:retornar_id_trabajador" />
  <xs:element name="retornar_id_trabajadorResponse" type="tns:retornar_id_trabajadorResponse" />
  <xs:element name="retornar_idcliente" type="tns:retornar_idcliente" />
  <xs:element name="retornar_idclienteResponse" type="tns:retornar_idclienteResponse" />
  <xs:element name="solicitar_prestamo" type="tns:solicitar_prestamo" />
  <xs:element name="solicitar_prestamoResponse" type="tns:solicitar_prestamoResponse" />
  <xs:complexType name="mostrar_agencias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrar_agenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingresar_clientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="cui" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingresar_clientesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregar_agencias">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregar_agenciasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_cuenta">
    <xs:sequence>
      <xs:element name="cliente" type="xs:int" />
      <xs:element minOccurs="0" name="no_cuenta" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element name="saldo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_cuentaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrar_tipo_trabajador">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mostrar_tipo_trabajadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiar_trabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cui" type="xs:string" />
      <xs:element minOccurs="0" name="puesto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiar_trabajoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornal_saldo">
    <xs:sequence>
      <xs:element minOccurs="0" name="no_cuenta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornal_saldoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="depositar">
    <xs:sequence>
      <xs:element minOccurs="0" name="no_cuenta" type="xs:string" />
      <xs:element name="dinero" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="depositarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrar_cuentas">
    <xs:sequence>
      <xs:element name="id_cliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrar_cuentasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modalidad_pago">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modalidad_pagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado_cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="no_cuenta" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado_cuentaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregar_trabajador">
    <xs:sequence>
      <xs:element minOccurs="0" name="cui" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_de_trabajador" type="xs:string" />
      <xs:element minOccurs="0" name="agencia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregar_trabajadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitar_prestamo">
    <xs:sequence>
      <xs:element name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="modalidad" type="xs:string" />
      <xs:element name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitar_prestamoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login_trabajador">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="contraseña" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login_trabajadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retiro_monetario">
    <xs:sequence>
      <xs:element minOccurs="0" name="no_cuenta" type="xs:string" />
      <xs:element name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retiro_monetarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="quitar_gerente_agencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="cui" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="quitar_gerente_agenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornar_idcliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cui" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornar_idclienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornar_id_trabajador">
    <xs:sequence>
      <xs:element minOccurs="0" name="cui" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornar_id_trabajadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>